version: '3.8'

services:
  identity-service:
    build: ./identity-service
    container_name: identity-service
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/identitydb
      REDIS_HOST: ecommerce-redis
      REDIS_PORT: 6379
      RABBITMQ_HOST: ecommerce-rabbitmq
      RABBITMQ_PORT: 5672
    depends_on:
      - postgres
      - redis
      - rabbitmq
    networks:
      - ecommerce-net

  product-service:
    build: ./product-service
    container_name: product-service
    ports:
      - "8081:8080"
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/productdb
      REDIS_HOST: ecommerce-redis
      REDIS_PORT: 6379
      RABBITMQ_HOST: ecommerce-rabbitmq
      RABBITMQ_PORT: 5672
    depends_on:
      - postgres
      - redis
      - rabbitmq
    networks:
      - ecommerce-net

  order-service:
    build: ./order-service
    container_name: order-service
    ports:
      - "8082:8080"
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/orderdb
      REDIS_HOST: ecommerce-redis
      REDIS_PORT: 6379
      RABBITMQ_HOST: ecommerce-rabbitmq
      RABBITMQ_PORT: 5672
    depends_on:
      - postgres
      - redis
      - rabbitmq
    networks:
      - ecommerce-net

  postgres:
    image: postgres:16
    container_name: ecommerce-postgres
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./postgres-init:/docker-entrypoint-initdb.d
    networks:
      - ecommerce-net

  redis:
    image: redis:latest
    container_name: ecommerce-redis
    ports:
      - "6379:6379"
    networks:
      - ecommerce-net

  rabbitmq:
    image: rabbitmq:3-management
    container_name: ecommerce-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    env_file:
      - .env
    networks:
      - ecommerce-net

networks:
  ecommerce-net:
    driver: bridge

volumes:
  postgres-data:
